<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Jeu de P&acirc;ques Maggi 2013</title>
<style type="text/css">
h1, h2, h3, h4, h5, p {
	margin: 0;
	padding: 0
}
</style>
</head>

<body style="font-family:Arial, Helvetica, sans-serif; color:#6a6a6a">
     <table width="600" border="0" align="center" cellpadding="0" cellspacing="0"  style="margin:0 auto">
          <tr>
               <td>
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                         <tbody>
                              <tr>
                                   <td align="center" height="22">
                                        <font color="#727272" face="arial" size="2">
                                             Si vous ne visualisez pas cet email, <a href="http://nestlemail.bisystem.com/maggi/130327/index.aspx?CodeNL=MAGGI&amp;emailAbo=test@test.fr&amp;MkrAction=ML010313&amp;codeDesabo=MA13L001D" style="text-decoration: underline; color: rgb(21, 76, 135);" target="_blank">cliquez ici</a>
                                        </font>
                                   </td>
                              </tr>
                         </tbody>
                    </table>
               </td>
          </tr>
          <tr>
               <td width="600" height="19" align="left" valign="top" style="line-height:5px">
                    <img src="http://nestlemail.bisystem.com/maggi/130327/images/bgd-1.jpg" width="600" height="19" alt="MAGGI" border="0"/>
               </td>
          </tr>
          <tr>
               <td width="600" align="left" valign="top" style="line-height:5px">
                    <table width="600" border="0" align="left" cellpadding="0" cellspacing="0">
                         <tr>
                              <td align="left" style="margin:0">
                                   <img src="http://nestlemail.bisystem.com/maggi/130327/images/bgd-2-1.jpg" width="26" height="62" border="0" alt="MAGGI" />
                              </td>
                              <td align="left" style="margin:0">
                                   <a href="http://www.maggi.fr/" title="MAGGI">
                                        <img src="http://nestlemail.bisystem.com/maggi/130327/images/bgd-2-2.jpg" width="121" height="62" alt="MAGGI" border="0"/>
                                   </a>
                              </td>
                              <td align="left" style="margin:0">
                                   <img src="http://nestlemail.bisystem.com/maggi/130327/images/bgd-2-3.jpg" width="453" height="62" border="0" alt="MAGGI" />
                              </td>
                         </tr>
                    </table>
               </td>
          </tr>
          <tr>
               <td width="100%" align="left" style="line-height:5px">
                    <img src="http://nestlemail.bisystem.com/maggi/130327/images/bgd-3.jpg" width="600" height="281" alt="MAGGI" border="0" />
               </td>
          </tr>
          <tr>
               <td width="100%" align="left" style="line-height:5px">
                    <table width="600" border="0" align="left" cellpadding="0" cellspacing="0" >
                         <tr>
                              <td><img src="http://nestlemail.bisystem.com/maggi/130327/images/bgd-4-1.jpg" width="34" height="82" border="0" alt="CLIQUEZ VITE ICI POUR JOUER" /></td>
                              <td><a href="http://www.maggi.fr/Jeux/TAS/2013-04-Jeu-de-paques/accueil.aspx/" title="CLIQUEZ VITE ICI POUR JOUER"><img src="http://nestlemail.bisystem.com/maggi/130327/images/bgd-4-2.jpg" width="254" height="82" border="0" alt="CLIQUEZ VITE ICI POUR JOUER" /></a></td>
                              <td><img src="http://nestlemail.bisystem.com/maggi/130327/images/bgd-4-3.jpg" width="312" height="82" border="0" alt="CLIQUEZ VITE ICI POUR JOUER" /></td>
                         </tr>
                    </table>
               </td>
          </tr>
          <tr>
               <td width="600" style="line-height:5px">
                    <img src="http://nestlemail.bisystem.com/maggi/130327/images/bgd-5.jpg" width="600" height="46" border="0" alt="MAGGI" />
               </td>
          </tr>
          <tr>
               <td bgcolor="#feed01" width="600" align="left" valign="top" style="line-height:5px">
                    <table width="600" border="0" align="left" cellpadding="0" cellspacing="0">
                         <tr>
                              <td width="373" align="left" valign="top"></td>

                              <td width="121"  align="left" valign="top">
                                   <a href="http://www.maggi.fr/Jeux/TAS/2013-04-Jeu-de-paques/jeu.aspx#popin-reglement" title="R&eacute;glement">
                                        <img border="0" src="http://nestlemail.bisystem.com/maggi/130327/images/btn-1.png" width="103" height="22" alt="R&eacute;glement" />
                                   </a>
                              </td>
                              <td align="left" valign="top">
                                   <a title="Like" href="http://www.facebook.com/sharer/sharer.php?s=100&p[title]=Grand+jeu+de+P%C3%A2ques+Maggi+2013!&p[url]=http%3A%2F%2Fwww.maggi.fr%2FJeux%2FTAS%2F2013-04-Jeu-de-paques%2Faccueil.aspx&p[summary]=Jouez+et+tentez+de+gagner+l%27un+des+10+robots+cuiseurs+mis+en+jeu+!&p[images][0]=http%3A%2F%2Fwww.maggi.fr%2FJeux%2FTAS%2F2013-04-Jeu-de-paques%2Fimg%2Fbg-hp-jeu-pagues.jpg" target="_blank">
                                        <img border="0" src="http://nestlemail.bisystem.com/maggi/130327/images/btn-2.png" width="80" height="22" alt="Like" />
                                   </a>
                              </td>
                         </tr>
                    </table>
               </td>
          </tr>
          <tr>
               <td bgcolor="#feed01" width="600" height="7" align="left" valign="top" style="line-height:5px"></td>
          </tr>
          <tr>
               <td>
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                         <tbody>
                              <tr>
                                   <td width="600" height="43" style="background-color:#fbec39;text-align: center; font-size: 12px;font-family:arial;">
                                        <a style="color:#b84501; text-decoration: none;" href="http://www.maggi.fr/?MkrAction=ML011313" target="_blank" title="Maggi"> Maggi |</a>
                                        <a style="color:#b84501; text-decoration: none;" href="http://www.blog-des-astucieuses.fr/?MkrAction=ML011313" target="_blank" title="Blog des astucieuses"> Blog des astucieuses |</a>
                                        <a style="color:#b84501; text-decoration: none;" href="http://www.croquonslavie.fr?MkrAction=ML011313" target="_blank" title="Croquons la Vie avec Nestl&eacute;"> Croquons la Vie avec Nestl&eacute; |</a>
                                        <a style="color:#b84501; text-decoration: none;" href="http://www.maggi.fr/contact.aspx?MkrAction=ML011313" target="_blank" title="Contact"> Contact |</a>
                                        <a style="color:#b84501; text-decoration: none;" href="http://www.maggi.fr/desinscription.aspx?CodeNL=MAGGI&amp;emailAbo=test@test.fr&amp;MkrAction=ML010313&amp;codeDesabo=MA13L001D" target="_blank" title="Se d&eacute;sinscrire"> Se d&eacute;sinscrire</a>
                                   </td>
                              </tr>
                         </tbody>
                    </table>
               </td>
          </tr>
          <tr>
               <td bgcolor="white" height="7" style="line-height:5px"></td>
          </tr>
          <tr>
               <td>
                    <font face="Arial, Helvetica, sans-serif" size="1" color="#777" style="font-size: 11px; color:#777;">
                         Jeu sans obligation d'achat du 11/03/2013 au 15/04/2013 sur www.maggi.fr. Jeu ouvert à toute personne physique majeure résidant en France métropolitaine. Règlement.
                         <br/>
                         Nestlé France S.A.S 542 014.428 RCS Meaux ® Reg. Trademark of société des produits Nestlé France SA. Conformément à la Loi « Informatique et Libertés », vous disposez d'un droit d'accès, de rectification et de retrait des données vous concernant en envoyant un courrier à : Service Consommateurs Nestlé, 7 boulevard Pierre Carle BP900 Noisiel 77446 MARNE LA VALLEE CEDEX 2 ou en appelant au 0811 812 813 (du lundi au samedi de 9h à 19h, coût d'un appel local depuis un poste fixe).
                    </font>
               </td>
          </tr>
          <tr>
               <td bgcolor="white" height="7" style="line-height:5px"></td>
          </tr>
          <tr>
               <td bgcolor="#e2ecf8" height="175" style="border-top:1px solid #5dc9ef;line-height:5px">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" >
                         <tr>
                              <td height="57" align="left" valign="top">
                                   <table align="left">
                                        <tr>
                                             <td style=" padding:0 20px 0 24px">
                                                  <img border="0" src="http://nestlemail.bisystem.com/maggi/130327CLV/images/logo-nestle.png" width="169" height="38" alt="Netle" />
                                             </td>
                                             <td style="font-size:11px; font-weight:bold;padding:24px 0 0; line-height:normal">
                                                  <a href="http://www.croquonslavie.fr/Politique_Internet" title="Donn&eacute;es personnelles" style="padding: 0 6px;text-decoration: none;color: #1368b8;float: left; white-space:nowrap">Donn&eacute;es personnelles</a> <a href="http://www.croquonslavie.fr/Politique_Internet/Mentions-legales" title="Mentions l&eacute;gales" style="border-left: 1px solid #1368b8;padding: 0 7px;text-decoration: none;color: #1368b8;float: left;white-space:nowrap">Mentions l&eacute;gales</a> <a href="http://www.croquonslavie.fr/MentionsSanitaires" title="Mentions sanitaires" style="border-left: 1px solid #1368b8;padding: 0 8px;text-decoration: none;color: #1368b8;float: left;white-space:nowrap">Mentions sanitaires</a>
                                             </td>
                                        </tr>
                                   </table>
                              </td>
                         </tr>
                         <tr>
                              <td height="33" valign="top" align="center" style="color: #1368b8;font-size: 10px;padding: 9px 70px;line-height:normal">
                                   Si vous ne souhaitez plus recevoir d'informations de la part de NESTL&Eacute;&reg; GRAND CHOCOLAT vous pouvez vous <a href="http://www.croquonslavie.fr/desinscription?MAGGI" title="d&eacute;sinscrire" style="color:#1368b8">d&eacute;sinscrire</a>
                              </td>
                         </tr>
                         <tr>
                              <td height="64" valign="top" align="center" style="color: #1368b8;font-size: 10px;line-height:normal">
                                   <p style="margin:0">Si vous ne souhaitez plus recevoir les informations, bons plans ou offres privl&egrave;ges des marques du groupe Nestl&eacute; en France </p>
                                   <p style="margin:0">(Nescaf&eacute;, Ricor&eacute;, Herta, Nesquik, Vittel, Nestl&eacute;, Maggi, Mousline, Fitness, Chocapic,...)</p>
                                   <p style="margin:0">vous pouvez vous <a href="http://www.croquonslavie.fr/desinscription?NWL_INFONS" title="d&eacute;sinscrire" style="color:#1368b8">d&eacute;sinscrire</a></p>
                              </td>
                         </tr>
                    </table>
               </td>
          </tr>
     </table>
</body>
</html>