extends layouts/app-layout-full

block variables
  - title= "Templates"

block content
  #ledState.label.label-danger.center led

  #tpl
    style.
      #tpl a{text-decoration:none; background:#dedede; display:block; padding:20px; font-size:2em; color:#111; line-height:1; margin-bottom:20px}
      #tpl a:hover{background:#eee;}
      #tpl .ico{padding-right:15px}
    .row: .span12: +link("home", "Home", "home.html")